.site-header {
  background-color: rgba(14, 14, 14);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.site-header-dropdown {
  background-color: rgba(30, 30, 30);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header-dropdown a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header-dropdown a:hover {
  color: #fff;
  background: none;
  text-decoration: none;
}

.site-header-dropdown .dropdown-divider {
  border-color: #333;
}